html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-weight: 500;
  background-color: black;
}

.header {
  font-size: 5.2rem;
  color: orange;
  //   margin: 3rem auto;
  // background-color: #2e51a2;
}
.bye {
  color: red;
}
#menu {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

#search-form {
  display: flex;
  width: 15%;
  flex-direction: row;
  justify-content: space-around;
}
.anime-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
  padding: 3rem auto;
  align-items: center;
}
.poster {
  height: 25rem;
  // width: 20rem;
  border-radius: 0.5rem;
  // height: 100%;
  // width: 100%;
}

.anime-header {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  text-align: center;
  transform: translateX(-7.5%);
}

#nav {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  width: 50%;
  transform: translateX(45%);
}

#page-number {
  font-size: 2.75rem;
  color: white;
}

.anime-card {
  width: 12%;
}

.nav-btn {
  background: orange;
  padding: 1rem;
  border-radius: 2rem;
  width: 10rem;
  cursor: pointer;
}

// .movie-card {
//   height: 65vh;
//   width: 20vw;
//   margin: 0 auto;
//   position: relative;
//   margin: 2rem auto;
// }
// .movie-card-front {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   /* background-image: url("https://image.tmdb.org/t/p/w300/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg"); */
//   background-position: center;
//   z-index: 3;
//   transition: all 0.3s;
// }

// .movie-card-back {
//   transition: all 0.3s;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;

//   display: none;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   color: white;
//   background-color: rgba(33, 33, 33, 0.8);
//   width: 100%;
//   height: 100%;
// }
// .movie-card-header {
//   font-size: 2.4rem;
//   text-transform: uppercase;
//   margin: 1rem auto;

//   text-align: center;
// }
// .score-box,
// .release-box {
//   text-align: center;
// }

// .movie-genres {
//   font-size: 1.6rem;
//   padding: 1rem 2rem;
//   display: flex;
//   width: 100%;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   align-items: center;
// }
// .movie-genre {
//   list-style: none;
// }
// .user-score {
//   font-size: 2rem;
// }
// .release-date {
//   font-size: 2rem;
// }

// .movie-card:hover .movie-card-front {
//   z-index: 1;
// }
// .movie-card:hover .movie-card-back {
//   z-index: 3;
//   display: flex;
// }
// .test {
//   color: black;
//   font-size: 3rem;
// }
